html {
  background-color: #ebba89;
}

header {
  padding: 0pt;
  background-color: peru;
  margin: 0pt;
}

h1 {
  font-size: 80pt;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande',
    'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  text-align: center;
}

h2 {
  font-size: 30pt;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  background-color: peru;
}

h3 {
  margin-left: 10pt;
  margin-right: 10pt;
  text-decoration: underline;
  font-size: 25pt;
  font-family: 'Courier New', Courier, monospace;
}

#logo {
  width: 50pt;
}

a {
  color: inherit;
}

p {
  font-size: 15pt;
  font-family: 'Courier New', Courier, monospace;
  margin-left: 10pt;
  margin-right: 10pt;
}

img {
  width: 500pt;
}

footer {
  padding: 2pt;
  background-color: peru;
  margin: 0pt;
}

h5 {
  font-family: 'Courier New', Courier, monospace;
  font-size: 20pt;
}

ul {
  font-family: 'Courier New', Courier, monospace;
}
